<div class="container">
  <h2 class="title">Listado de Clientes</h2>

  <div *ngIf="!flagClientes">
    <h4 class="success">No se encuentran clientes</h4>
  </div>

  <div *ngIf="flagClientes">
    <h5 class="success">Promedio edad: {{promedio}}</h5>
    <h5 class="success">Desviación estándar: {{desviacion}}</h5>
  </div>

  <div class="container-fluid resultados" *ngIf="flagClientes">
    <div class="row RowResultados">
      <div class="col">       
        <div class="ordenLeyenda">
          <p class="leyendaResultados">RESULTADOS</p>
        </div>
        <hr>
        <p class="mostrando">Mostrando {{clientes.length}} registros encontrados</p>
      </div>
    </div>
  </div>

  <div *ngIf="flagClientes">
    <table class="minimalistBlack">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Edad</th>
          <th>Fecha de nacimiento</th>
          <th>Fecha estimada de muerte</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fila of clientes;let i = index;">
          <td><span>{{fila.nombre}}</span></td>
          <td><span>{{fila.apellido}}</span></td>
          <td><span>{{fila.edad}}</span></td>
          <td><span>{{fila.fechaNacimiento}}</span></td>
          <td><span>{{fila.fechaMuerte}}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>